* {
    box-sizing: border-box;
}

body {
    background-color: #E6E6E6;
    padding: 0;
    font-family: "Abel", sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: "Anton", sans-serif;
}

.image {
    height: 4.5em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5em;
    background-color: #F0F0F0;
}

.row {

}

#codeup {
    margin-top: 1em;
    font-size: 3em;
}

img {
    width: 105px;
    height: 105px;
}

#navbarNavAltMarkup {
    display: flex;
    justify-content: center;
    background-color: #E6E6E6;
    padding: 0;
    margin:0;
    font-size: 1.45em;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
}

.navbar-nav .nav-link {
    padding: 0 .5em;
}

#navbar {
    background-color: #E6E6E6;
    padding: 0;
}

#visualz {
   font-size: 3.5em;
}

.col {

    text-align: center;
    height: 100px;
    width: 100px;
}

#circle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 105px;
    width: 105px;
    color: white;
    border: 4px solid white;
    border-radius: 50%;
    margin: auto;
}

#circles1 {
    display: flex;
}

#circles2{
    display: flex;
}

.circle01 {
    background-color: #E6563B;
}

.circle02 {
    background-color: #DEA03D;
}

.circle03 {
    background-color: #7CB06C;
}

.circle04 {
    background-color: #00ABA9;
}

#circles {
    display: flex;
    flex-wrap: wrap;
}

#ipad {
    width: 100%;
    height: 100%;
    border: 10px solid lightgray;
    border-radius: 10px;
}

#macbook {
    width: 100%;
    height: 100%;
    border: 10px solid lightgray;
    border-radius: 10px;
}

#man {
    width: 100%;
    height: 100%;
    border: 10px solid lightgray;
    border-radius: 10px;
}

#security {
    width: 100%;
    height: 100%;
    border: 10px solid lightgray;
    border-radius: 10px;
}

.jumbotron {
    background-color: #E6E6E6;
}

#icons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon {
    font-size: x-small;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18px;
    width: 18px;
    border-radius: 50%;
}

#icon1 {
    background-color: #E6563B;
}

#icon2 {
    background-color: #DEA03D;
}

#icon3 {
    background-color: #7CB06C;
}

#icon4 {
    background-color: #00ABA9;
}